*{
    margin: 0;
    padding: 0;
}

body {
    margin: 1rem;
    padding: 1rem;
    background-color: azure;
}

h1{
   font-size: 50px;
   text-align: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
} 

#to-do {
    font-size: 25px;
    border-radius: 0.5rem;
}

#add-btn {
    font-size: 25px;
    background-color: white;
    border-radius: 0.5rem;
    cursor: pointer;
}

.list-container {
    margin-top: 1rem;
    padding: 3rem;
    font-size: 2rem;
    background-color: rgb(255, 223, 223);
    max-height: 90vh;
}
